{% import 'icon.njk' as icon %}

<hr class="bg-gray-800"></hr>
<div class="text-gray-300 bg-gray-800">
    <div class="grid lg:grid-cols-4 mx-auto max-w-7xl p-8">
        <div class="mr-8 pt-4">
            <h2 class="title-font font-semibold text-purple-400 tracking-widest text-xs flex items-center">
                {{ icon.icon('envelope') }}
                EMAIL:
            </h2>
            <a class="hover:underline"
              href="mailto:hello@jperson.dev" >
              hello@jperson.dev
            </a>
        </div>

        <div class="mr-8 pt-4">
            <h2 class="title-font font-semibold text-purple-400 tracking-widest text-xs flex items-center">
                {{ icon.icon('phone') }}
                 PHONE:
            </h2>
            <a
              href="tel:301-300-9318"
              class="leading-relaxed hover:underline" >
              +1 301-300-9318
            </a>
        </div>

        <div class="mr-8 pt-4">
            <h2 class="title-font font-semibold text-purple-400 tracking-widest text-xs flex items-center">
                {{ icon.icon('cpu-chip') }}
                GITHUB:
            </h2>
            <a class="hover:underline" href="https://github.com/jperson1" target="_blank">
              github.com/jperson1
            </a>
        </div>

        <div class="mr-8 pt-4">
            <h2 class="title-font font-semibold text-purple-400 tracking-widest text-xs flex items-center">
                {{ icon.icon('globe-alt') }}
                LOCATION:
            </h2>
            <p class="leading-relaxed">Alexandria, VA 22303</p>
        </div>
    </div>
</div>
