<header class="bg-gray-800 shadow-md
                    md:sticky top-0 z-10 text-white">
    {# <div class="max-w-4xl mx-auto px-4 py-6
                    flex flex-wrap flex-col md:flex-row space-y-1
                    md:items-center ml-8 md:ml-0 md:text-base text-xl"> #}
    <div class="max-w-6xl mx-auto px-4 py-6
                grid grid-row-2 md:grid-flow-col">
        <nav class="justify-self-stretch">
            {% for link in links.navigation %}
                <a class="pr-8 hover:font-bold" href={{ link.href }}
                    {% if 'http' in link.href %} target="_blank" {% endif %} >
                    {{ link.text }}
                </a>
            {% endfor %}
        </nav>

        <nav class="justify-self-start md:justify-self-end">
            {% for link in links.social %}
                <a class="pl-8 hover:font-bold" href={{ link.href }}
                    {% if 'http' in link.href %} target="_blank" {% endif %} >
                    {{ link.text }}
                </a>
            {% endfor %}
        </nav>
    </div>
</header>
