<header class="bg-gray-800 shadow-md
                    md:sticky top-0 z-10 text-white">
    {# <div class="max-w-4xl mx-auto px-4 py-6
                    flex flex-wrap flex-col md:flex-row space-y-1
                    md:items-center ml-8 md:ml-0 md:text-base text-xl"> #}
    <div class="max-w-7xl mx-auto px-4 py-6
                grid grid-row-2 md:grid-flow-col">
        <nav class="justify-self-stretch">
            <a class="text-purple-400 hover:text-purple-500 w-10" href="/">
                <img eleventy:widths="200,600" href="/assets/img/home.svg" class="" />
            </a>

            <a class="pr-8 hover:font-bold" href="/about">About This Site</a>

            <a class="pr-8 hover:font-bold"
                href="https://drive.google.com/file/d/1aCri7he8iI0PXFpMNSnFSMRJOpR-EDF2/view?usp=sharing"
                target="_blank" >
                Résumé
            </a>

            <a class="hover:font-bold" href="/possums">Possum Scroller</a>
        </nav>

        <nav class="justify-self-start md:justify-self-end">
            <a class="pr-8 hover:font-bold" href="https://github.com/jperson1" >
                GitHub
            </a>
            <a class="hover:font-bold" href="https://www.linkedin.com/in/jperson/" >
                LinkedIn
            </a>
        </nav>
    </div>
</header>
