---
layout: base.njk
---

{# While the site is under construction, this template is for placeholder pages. #}
<div class="flex items-center justify-center min-h-[80vh]">
    <p class="text-4xl text-white font-bold">This page is under construction, come back soon!</p>
</div>

<p class="text-xl text-white font-bold">(I'll get around to it, I promise)</p>
