---
layout: base.njk
title: Home
---
{% import 'icon.njk' as icon %}

<section id="about">
    <div class="container mx-auto flex px-10 py-10 md:flex-row flex-col items-center">
        <div class="md:flex-grow md:w-1/2 md:pr-16 flex flex-col md:items-start md:text-left mb-16 md:mb-0 items-center text-center">
            <h1 class="title-font text-3xl lg:text-5xl mb-4 font-medium text-white">
                James Person
            </h1>
            <p class="leading-relaxed text-xl mb-8 text-gray-200">
                Software Engineer and Team Lead in the DMV.
            </p>
            <div class="flex justify-center gap-4">
                <a href="#contact" class="inline-flex py-2 px-6 text-white bg-purple-600  hover:bg-purple-500 text-lg rounded shadow-sm" >
                    Contact
                </a>
                <a href="/resume" class="inline-flex py-2 px-6 text-white font-bold hover:bg-purple-500 text-lg rounded border border-gray-600" 
                    rel="noopener noreferrer" target="_blank" >
                    Resume
                </a>
            </div>
        </div>
        <div class="lg:w-full md:w-1/2 w-5/6">
            <img class="object-cover object-center rounded-3xl border-solid border-3 border-gray-800 shadow-sm"
                alt="Profile Picture"
                src="assets/img/Profile-Picture.jpg" />
        </div>
    </div>
</section>
<section id="contact" class="flex items-center justify-center min-h-[50vh]">
    <div class="container flex flex-col items-center gap-16 mx-auto my-32">
        <div class="grid w-full grid-cols-1 gap-5 md:grid-cols-2 lg:grid-cols-3 text-white">
            {# TODO - Make these one component. #}
            <div class="flex flex-col items-center gap-3 px-8 py-10 bg-gray-800 rounded-3xl shadow-md">
                {{ icon.icon('envelope', 'size-10') }}
                <p class="text-2xl font-bold text-purple-500">Email</p>
                <p class="text-base leading-7">Email me at</p>
                <a class="text-lg font-bold" href="mailto: hello@jperson.dev">hello@jperson.dev</a>
            </div>
            <div class="flex flex-col items-center gap-3 px-8 py-10 bg-gray-800 rounded-3xl shadow-md">
                {{ icon.icon('phone', 'size-10') }}
                <p class="text-2xl font-bold text-purple-500">Phone</p>
                <p class="text-base leading-7">Call or text me at</p>
                <a class="text-lg font-bold text-purple-blue-500" href="tel:+516-486-5135">+516-486-5135</a>
            </div>
            <div class="flex flex-col items-center gap-3 px-8 py-10 bg-gray-800 rounded-3xl shadow-md">
                {{ icon.icon('user-circle', 'size-10') }}
                <p class="text-2xl font-bold text-purple-500">LinkedIn</p>
                <p class="text-base leading-7">Find my profile at</p>
                <a class="text-lg font-bold" target="_blank" href="https://www.linkedin.com/in/jperson/">in/jperson</a>
            </div>
        </div>
    </div>
</section>
