---
layout: base.njk
title: Home
---

<section id="about">
    <div class="container mx-auto flex px-10 py-10 md:flex-row flex-col items-center">
        <div class="md:flex-grow md:w-1/2 md:pr-16 flex flex-col md:items-start md:text-left mb-16 md:mb-0 items-center text-center">
            <h1 class="title-font text-3xl lg:text-5xl mb-4 font-medium text-white">
                James Person
            </h1>
            <p class="leading-relaxed text-xl mb-8 text-gray-200">
                Software Engineer and Team Lead in the DMV.
            </p>
            <div class="flex justify-center gap-4">
                <a href="#contact" class="inline-flex py-2 px-6 text-white bg-purple-600  hover:bg-purple-500 text-lg rounded shadow-sm" >
                    Contact Me
                </a>
                <a href="/resume" class="inline-flex py-2 px-6 text-white font-bold hover:bg-purple-500 text-lg rounded border border-gray-600" 
                    rel="noopener noreferrer" target="_blank" >
                    Resume
                </a>
            </div>
        </div>
        <div class="lg:w-full md:w-1/2 w-5/6">
            <img class="object-cover object-center rounded-3xl border-solid border-4 border-gray-800 shadow-sm"
                alt="Profile Picture"
                src="assets/img/Profile-Picture.jpg" />
        </div>
    </div>
</section>
<div class="flex items-center justify-center h-screen">
    <p class="text-4xl text-white font-bold">This is a test deploy, come back soon!</p>
</div>
